<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="GEOIPProxy">
        <wb-resource deploy-path="/" source-path="/"/>
        <dependent-module deploy-path="/" handle="module:/resource/GEOIPProxyWeb/GEOIPProxyWeb">
            <dependent-object>WebModule_1257953679203</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>